<li>
    @Html.ActionLink("Профил!", "Home", "User")
    <div class="icon" data-image="profile.png">
    </div>
</li>
<li>
    @Html.ActionLink("Локации!", "Index", "Locations")
    <div class="icon" data-image="locations.png">
    </div>
</li>
<li>
    @Html.ActionLink("Типови Локации!", "Index", "LocationTypes")
    <div class="icon" data-image="ltypes.png">
    </div>
</li>
<li>
    @Html.ActionLink("Тестови", "Index", "Quiz")
    <div class="icon" data-image="quiz.png">
    </div>
</li>
<li>
    @Html.ActionLink("Општи Ресурси", "GeneralResources", "ResourcesCreation")
    <div class="icon" data-image="resources.png">
    </div>
</li>
